<%layout('layouts/bollerplate')%>
    <%- include('../partials/navbar') %>

    <ul>
       <% for(let item of user.cart){ %>
           <li><%=item.name %> --> <%=item.price %> </li>
       <% } %>
    </ul>